<!-- <div class="row">
  <div class="offset-4 col-md-4">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="expenseForm" (ngSubmit)="onSubmit()">
          <mat-dialog-content>
            <div class="form-group">
              <mat-form-field>
                <input matInput class="form-control" placeholder="Enter amount (INR)" formControlName="amount"
                  [ngClass]="{ 'is-invalid': submitted && f.amount.errors }">
              </mat-form-field>
              <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
                <div *ngIf="f.amount.errors.required">Amount is required</div>
                <div *ngIf="f.amount.errors.min">Amount must be atleast Re 1/-</div>
              </div>
            </div>
            <mat-form-field class="form-group">
              <input matInput [matDatepicker]="picker" class="form-control" placeholder="Choose a date"
                formControlName="date" [ngClass]="{ 'is-invalid': submitted && f.date.errors }">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
                <div *ngIf="f.date.errors.required">Date is required</div>
              </div>
            </mat-form-field>
            <mat-form-field class="form-group">
              <textarea matInput class="form-control" placeholder="Description of your expense"
                formControlName="description"
                [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
              <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                <div *ngIf="f.description.errors.required">Description is required</div>
                <div *ngIf="f.description.errors.minlength">Min length should be atleast 10 characters</div>
                <div *ngIf="f.description.errors.maxlength">Max length is 500 characters</div>
              </div>
            </mat-form-field>
            <mat-dialog-actions>

              <button mat-raised-button type="submit" class="btn btn-danger" style="margin-left:23%">ADD
                EXPENSE</button>
              <div class="clearfix"></div>

            </mat-dialog-actions>
          </mat-dialog-content>
        </form>
      </div>
    </div>
  </div>
</div> -->
<div class="row">
  <div class="offset-4 col-md-4">
    <div class="card">
      <div class="card-body">
        <form>
          <mat-dialog-content>
            <mat-form-field>
              <input matInput placeholder="Enter expense (INR)">
            </mat-form-field>
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Choose a date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
              <textarea matInput placeholder="Description of your expense"></textarea>
            </mat-form-field>
            <mat-dialog-actions>

              <button mat-raised-button type="submit" class="btn btn-danger" style="margin-left:16%">ADD
                INCOME</button>
              <div class="clearfix"></div>

            </mat-dialog-actions>
          </mat-dialog-content>
        </form>
      </div>
    </div>
  </div>
</div>