<div class="row">
  <div class="offset-4 col-md-4">
    <div class="card">
      <div class="card-body">
        <form>
          <mat-dialog-content>
            <mat-form-field>
              <input matInput placeholder="Enter income (INR)">
            </mat-form-field>
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Choose a date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
              <textarea matInput placeholder="Description of your income"></textarea>
            </mat-form-field>
            <mat-dialog-actions>

              <button mat-raised-button type="submit" class="btn btn-success" style="margin-left:17%">ADD
                INCOME</button>
              <div class="clearfix"></div>

            </mat-dialog-actions>
          </mat-dialog-content>
        </form>
      </div>
    </div>
  </div>
</div>